@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.header {
    padding: 10px; /* some padding */
    text-align: center; /* center the text */
    background: #A12003; /* green background */
    color: white; /* white text color */
  }
  
  /* Increase the font size of the <h1> element */
.header h1 {
    font-size: 32px;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
}
  
/* Style the navigation bar links */
.navbar button {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: black; /* White text color */
    text-align: center; /* Center the text */
    padding: 12px 16px; /* Add some padding */
    font-family: 'Nanum Gothic';
    text-decoration: none; /* Remove underline */
}

.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 12px 16px; /* Add some padding */
    font-family: 'Nanum Gothic';
    text-decoration: none; /* Remove underline */
}
  
  
  /* Right-aligned link */
  .navbar button.right {
    float: right; /* Float a link to the right */
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover, button:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
  }

  /* Active/current link */
.navbar button.active a.active {
    background-color: #666;
    color: white;
  }